@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './splitter.scss';
@import './watfill.scss';
@import './popover.scss';
@import './btn.scss';

/******reset********/
html, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background: #f7f7f7;
  font-size: 14px;
  margin: 0;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

fieldset, img{
  border:0
}
legend{
  display:none
}
ol, ul{
  list-style:none
}
caption, th{
  text-align:left
}
h1, h2, h3, h4, h5, h6{
  font-size:100%;
  font-weight:normal
}
q:before, q:after{
  content:''
}
abbr, acronym{
  border:0
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: inline-block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.page {
  height: 100%;
  width: auto;
  .container {
    height: 100%;
    width: 1200px;
  }
}

.main-container {
  height: 100%;
  margin-left: 264px;
  position: relative;
}

.text-center {
  text-align: center
}

.text-light {
  color: $light;
}

.text-danger {
  color: $danger-color;
}

.loading {
  text-align: center;
  font-size: 13px;
  margin-top: 5px;
}

.more {
  text-align: center;
  font-size: 13px;
  margin-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-50 {
  padding-top: 50px;
}

.pad-10 {
  margin-top: 10px
}


.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.msg-code {
  width: 230px !important;
  text-align: center;
  padding: 0;
  .el-message-box__btns {
    border-top: 1px solid $border-color;
  }
  .el-button {
    display: block;
    width: 100%;
    border: none;
    color: $danger-color;
    &:hover,
    &:focus {
      background: transparent;
    }
  }
}

.image_None {
  text-align: center;
  padding-top: 10%;
  img {
    margin-bottom: 15px;
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}
