$light: #889199;
$danger-color: #F23658;
$base-bg: #F3F6FA;
$base-color: #3A3D40;
$border-color: #e6ebf5;
$active-color: #f23658;

$header-bg: #fff;

$button-primary: linear-gradient(315deg,rgba(254,160,87,1) 0%,rgba(236,20,85,1) 100%);
$button-primary-hover: linear-gradient(315deg,rgba(254,160,87,0.9) 0%,rgba(236,20,85,0.9) 100%);

